<div id="block-{{ block.id }}" {{ block.shopify_attributes }} class="slideshow-item">

	<div class="site-box box--big box--center-align box--column-flow box__slideshow-item">
		
		<div class="site-box-content fix-me-with-margin">

      {% unless block.settings.caption == blank %}
        <p class="caption">{{ block.settings.caption | escape }}</p>
      {% endunless %}

      <h3 class="title">{{ block.settings.title | escape }}</h3>
      
      {% unless block.settings.subtitle == blank %}
        <p class="subtitle">{{ block.settings.subtitle | escape }}</p>
      {% endunless %}

      {% unless block.settings.link == blank %}
        <a class="button with-icon {{ block.settings.bg_style }}" href="{{ block.settings.link }}">{{ 'general.shop_now' | t }} <span class="icon">{% include 'asset_svg' with 'arrow_icon_smallest' %}</span></a>
      {% endunless %}
      
		</div>

  	<div class="site-box-background-container">
  		<div {% if block.settings.bg_img == blank %} class="obs" {% endif %}>

        {% if block.settings.bg_img == blank %}
          {% assign no = forloop.index | modulo:2 | plus:1 %}
          {% capture img_url %} {{ 'svg_lifestyle-X.svg' | replace: 'X', no | asset_url }} {% endcapture %}
          {% assign img_class = 'onboarding-slide' %}
        {% else %}
          {% assign img_class = 'background-image-' | append: block.id %}
          {% assign landscape_url = block.settings.bg_img | img_url: '1920x' %}
          {% assign portrait_url = block.settings.portrait_image | img_url: '768x' %}
        {% endif %}

        <span class="site-box-background with-image {{ img_class }}" aria-hidden="true"></span>

        {% if block.settings.overlay_graphic %}
          <a href="{{ block.settings.overlay_graphic_link | default: '#' }}" class="slideshow-item__overlay">
            <img src="{{ block.settings.overlay_graphic | img_url: '1920x' }}" alt="">
          </a>
        {% endif %}
        
        <span class="site-box-black-overlay" style="opacity:{{ block.settings.tint_opacity }} "></span>
  		</div>
  	</div>

	</div>

</div>

<style type="text/css">

  .site-box-background.with-image.{{ img_class }} {
    background-image: url({{ portrait_url }});
  }

  @media (min-width: 1024px) {

    .site-box-background.with-image.{{ img_class }} {
      background-image: url({{ landscape_url }});
    }

  }

</style>